<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:jms="http://www.springframework.org/schema/jms"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      				  http://www.springframework.org/schema/beans/spring-beans.xsd
      				  http://www.springframework.org/schema/jms
      				  http://www.springframework.org/schema/jms/spring-jms.xsd
      				  http://www.springframework.org/schema/context
      				  http://www.springframework.org/schema/context/spring-context.xsd">
    
    

    
    <!-- ############# 消息队列通用配置  ################ -->
  	<!-- 配置ActiveMQ的连接工厂 -->
  	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
  		<!-- 设置消息中间件服务地址 -->
  		<property name="brokerURL" value="${activemq.brokerURL}"/>
  	</bean>
  	<!-- 配置ActiveMQ的连接工厂由Spring的JMS来管理 -->
  	<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
  		<!-- 设置目标连接工厂 -->
  		<property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
  	</bean>
  	
  	
  	<!-- ################ 配置消息的消费者 ################# -->
  	<!-- 配置消息监听器容器 
  		connection-factory: 连接工厂
  		acknowledge="transacted": 开启消息事务
  		destination-type: 消息模式
  		concurrency: 并发数 
  	-->
  	<jms:listener-container connection-factory="connectionFactory"
  							acknowledge="transacted"
  							destination-type="topic"
  							concurrency="3-5">
  		<!-- 配置消息监听器
  		    destination: 队列的名称
  		    ref: 引用容器存的消息监听器Bean
  		 -->
  		<jms:listener destination="item-topic" ref="itemMessageListener"/>
  	</jms:listener-container>
  	<!-- 自定义消息监听器Bean -->
  	<bean id="itemMessageListener" class="com.maimai.search.listener.ItemMessageListener"/>
  	
</beans>