<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      				  http://www.springframework.org/schema/beans/spring-beans.xsd
      				  http://www.springframework.org/schema/context
      				  http://www.springframework.org/schema/context/spring-context.xsd
      				  http://code.alibabatech.com/schema/dubbo
      				  http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- ### 配置dubbo服务端 ###-->
    <!-- 配置当前应用名称 -->
    <dubbo:application name="maimai-admin-service"/>

    <!-- 使用multicast广播注册中心暴露服务地址  224.0.0.0 - 239.255.255.255 -->
   <!-- <dubbo:registry address="multicast://224.1.2.3:8888" />-->

    <!--直连模式-->
  <!--  <dubbo:registry address="N/A"/>-->

    <!--zookeeper注册中心-->
    <dubbo:registry protocol="zookeeper" address="192.168.31.22:2181"/>

    <!-- 配置dubbo协议在20880端口暴露服务；端口号唯一即可 -->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 配置需要暴露的服务 -->
    <dubbo:service interface="com.maimai.admin.service.ItemCatService"
                   ref="itemCatServiceImpl" />
    <!-- 配置需要暴露的服务 -->
    <dubbo:service interface="com.maimai.admin.service.ItemService"
                   ref="itemServiceImpl" />
    <!-- 配置需要暴露的服务 -->
    <dubbo:service interface="com.maimai.admin.service.ContentCategoryService"
                   ref="contentCategoryServiceImpl" />
    <!-- 配置需要暴露的服务 -->
    <dubbo:service interface="com.maimai.admin.service.ContentService"
                   ref="contentServiceImpl" />

</beans>